/* Step-3 You can assign padding to all sides of a container by using the padding property. */

.content-mid {
  padding: 80px;
 
}

.content-mid-header {
  width: fill;
  height: 10vh;
  background: #444;
}

.content-container {
  width:  fill;
  height: 80vh;
}

.content {
  padding: 20px;
  width: fill;
  height: 50vh;
  text-align: center;
  background: #D8D8D8;
}
